<h1>今日のご飯決めたろう</h1>
<%= form_with url: search_path, method: :get, local: true do |f| %>
  <div class="field">
    <%= f.label :keyword, "検索" %>
    <%= f.text_field :keyword, placeholder: "キーワードを入力", class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "検索", class: "btn btn-primary" %>
  </div>
<% end %>

<%= form_with url: form_path, local: true do |f| %>
  
  <div class="actions">
    <%= link_to "フレンドリスト", friends_path, class: "btn btn-primary" %>
  </div>
    <div class="actions">
        <%= link_to "グループ", groups_path, class: "btn btn-primary" %>
    </div>
    <div class="actions">
        <%= link_to "食事アンケート", user_path(current_user), class: "btn btn-primary" %>
<% end %>